# Mid_Bootcamp_project
<font size='4'><span style="color: green">Cristian Valeria</span></font>

## Topic: Crimes in Berlin: a disctrict analysis
<br>

## Questions:

What ?
1. What discrtict of Berlin is most dangerous?
2. What type of crimes are the most common

Why? <span style='color:green'>(Bonus)</span> 
1. How crimes correlate with other variables, like: 
    - employment status
    - inmigration
    - other cities
    
## Outputs:
- Group by: Crimes, types of crime (value each tipe of crime and make a danger factor) 
- Ilustrated map with the diferent district in colors by danger level and other comparisons. 
- Correlation between danger level and other variables (bonus)

## Dataset:

https://www.berlin.de/polizei/service/kriminalitaetsatlas/

### 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np

### 2.Reading Exploring and Cleaning Data

In [11]:
#!ls ../Data/cleaned

crimesdata_clean.xlsx

In [12]:
crimesdata = pd.read_excel('../Data/cleaned/crimesdata_clean.xlsx')
crimesdata.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,15,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,12,327,118,83,799
2,2012,Mitte,11003,Alexanderplatz,194,101,1411,446,259,8297,70,650,732,274,74,1359,480,356,2799
3,2012,Mitte,11004,Brunnenstraße Süd,50,25,241,62,62,1873,85,176,387,131,19,449,153,191,724
4,2012,Mitte,12005,Moabit West,123,45,610,188,190,2396,90,376,321,161,61,495,59,245,1357

In [13]:
crimesdata.shape

(1550, 19)

In [18]:
crimesdata = crimesdata.drop(columns=['Zipcode','Location'])

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Charlottenburg Nord,643,248,4224,1195,1427,24061,707,3770,3173,1544,178,3975,847,1064,9997
1,2012,Friedrichshain-Kreuzberg,868,504,4613,1383,1153,22050,436,2380,3285,1214,419,5499,1311,1853,11001
2,2012,Lichtenberg,260,112,2570,586,789,11911,445,1979,1418,632,254,3355,896,335,6252
3,2012,Marzahn-Hellersdorf,331,148,3052,625,929,9714,451,1778,1075,457,319,3435,800,308,6202
4,2012,Mitte,1253,610,7921,2362,2242,36486,620,4317,3358,1695,494,6180,1346,2849,16545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2021,Reinickendorf,216,113,2472,606,1204,8371,204,1629,908,293,239,2370,342,713,5762
116,2021,Spandau,204,113,2575,605,1285,9324,283,2057,708,337,310,2409,261,659,6177
117,2021,Steglitz-Zehlendorf,154,79,1889,395,944,9340,352,1578,1431,562,208,2721,658,527,5142
118,2021,Tempelhof-Schöneberg,270,141,2886,632,1342,14891,434,2685,2031,395,238,3497,782,1264,8162
119,2021,Treptow-Köpenick,165,95,2271,518,1102,10565,340,1518,2086,367,218,2913,670,643,5608

In [29]:
crimesdata['Total_crimes'] = crimesdata.iloc[:,2:].sum(axis=1)

In [30]:
crimesdata.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
0,2012,Mitte,52,33,482,171,99,1953,16,269,112,68,15,224,23,122,851,4490
1,2012,Mitte,58,25,439,124,129,2975,9,256,147,37,12,327,118,83,799,5538
2,2012,Mitte,194,101,1411,446,259,8297,70,650,732,274,74,1359,480,356,2799,17502
3,2012,Mitte,50,25,241,62,62,1873,85,176,387,131,19,449,153,191,724,4628
4,2012,Mitte,123,45,610,188,190,2396,90,376,321,161,61,495,59,245,1357,6717

In [32]:
crimes_district = crimesdata.groupby(['Year','District']).sum().reset_index()

In [33]:
crimes_district.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
0,2012,Charlottenburg Nord,643,248,4224,1195,1427,24061,707,3770,3173,1544,178,3975,847,1064,9997,57053
1,2012,Friedrichshain-Kreuzberg,868,504,4613,1383,1153,22050,436,2380,3285,1214,419,5499,1311,1853,11001,57969
2,2012,Lichtenberg,260,112,2570,586,789,11911,445,1979,1418,632,254,3355,896,335,6252,31794
3,2012,Marzahn-Hellersdorf,331,148,3052,625,929,9714,451,1778,1075,457,319,3435,800,308,6202,29624
4,2012,Mitte,1253,610,7921,2362,2242,36486,620,4317,3358,1695,494,6180,1346,2849,16545,88278

In [34]:
!pwd

/Users/cristianvaleria/Ironhack/Week_5/Mid_bootcamp_project/Notebooks

In [35]:
crimes_district.to_excel('../Data/cleaned/crimes_district.xlsx', index = False)