# Mid_Bootcamp_project
<font size='4'><span style="color: green">Cristian Valeria</span></font>

## Topic: Crimes in Berlin: a disctrict analysis
<br>

## Questions:

What ?
1. What discrtict of Berlin is most dangerous?
2. What type of crimes are the most common

Why? <span style='color:green'>(Bonus)</span> 
1. How crimes correlate with other variables, like: 
    - employment status
    - inmigration
    - other cities

## Outputs:
- Group by: Crimes, types of crime (value each tipe of crime and make a danger factor) 
- Ilustrated map with the diferent district in colors by danger level and other comparisons. 
- Correlation between danger level and other variables (bonus)

### 1. Import Libraries

In [102]:
import pandas as pd
import numpy as np

### 2.Reading Exploring and Cleaning Data

2.1. Reading Raw Data

In [24]:
crimesdata = pd.read_csv('../Data/Raw/WHAT/Berlin_crimes.csv')
crimesdata.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

2.2. Searching for null values

In [20]:
crimesdata.isnull().sum()

Year              0
District          0
Code              0
Location          0
Robbery           0
Street_robbery    0
Injury            0
Agg_assault       0
Threat            0
Theft             0
Car               0
From_car          0
Bike              0
Burglary          0
Fire              0
Arson             0
Damage            0
Graffiti          0
Drugs             0
Local             0
dtype: int64

2.2. Columns Exploration

In [25]:
crimesdata.shape

(1200, 20)

In [21]:
crimesdata.columns

Index(['Year', 'District', 'Code', 'Location', 'Robbery', 'Street_robbery',
       'Injury', 'Agg_assault', 'Threat', 'Theft', 'Car', 'From_car', 'Bike',
       'Burglary', 'Fire', 'Arson', 'Damage', 'Graffiti', 'Drugs', 'Local'],
      dtype='object')

#### column: 'Year'

In [45]:
display(crimesdata.Year.value_counts())
print('Total Unique: ', crimesdata.Year.nunique())

2012    150
2013    150
2014    150
2015    150
2016    150
2017    150
2018    150
2019    150
Name: Year, dtype: int64

Total Unique:  8

In [46]:
# Year --> 150 rows per year between 2012 and 2019, 8 years

#### column: 'District'

In [37]:
display(crimesdata.District.value_counts())
print('Total Unique: ', crimesdata.District.nunique())

Treptow-Köpenick              168
Charlottenburg-Wilmersdorf    144
Pankow                        136
Lichtenberg                   112
Reinickendorf                  96
Mitte                          88
Neukölln                       88
Spandau                        80
Marzahn-Hellersdorf            80
Friedrichshain-Kreuzberg       72
Steglitz-Zehlendorf            72
Tempelhof-Schöneberg           64
Name: District, dtype: int64

Total Unique:  12

In [39]:
# 12 of 12 Berlin districs

#### column: 'Code'

In [40]:
display(crimesdata.Code.value_counts())
print('Total Unique: ', crimesdata.Code.nunique())

10111     8
90102     8
90104     8
90205     8
90206     8
         ..
40514     8
40515     8
40516     8
40617     8
129900    8
Name: Code, Length: 150, dtype: int64

Total Unique:  150

In [42]:
# Zipcode --> not relevant for this study

#### column: 'Location'

In [43]:
display(crimesdata.Location.value_counts())
print('Total Unique: ', crimesdata.Location.nunique())

Tiergarten Süd                   8
Plänterwald                      8
Johannisthal                     8
Oberschöneweide                  8
Niederschöneweide                8
                                ..
Düsseldorfer Straße              8
Barstraße                        8
Volkspark Wilmersdorf            8
Forst Grunewald                  8
Bezirk (Rd), nicht zuzuordnen    8
Name: Location, Length: 150, dtype: int64

Total Unique:  150

In [47]:
# Especific location of the Crime, related to Zipcode --> Not relevant to the study

#### 'Crime' Columns

In [52]:
crimesdata.shape[1]-4

16

In [53]:
#16 types of crime, from robbery to property Property damage caused by graffiti

In [61]:
crimesdata[(crimesdata['District']=='Mitte') & (crimesdata['Year']==2012)]

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
5,2012,Mitte,10222,Moabit Ost,89,45,549,147,204,2290,63,353,337,90,33,10,392,52,416,1212
6,2012,Mitte,10331,Osloer Straße,120,46,785,223,267,3666,52,429,280,226,40,18,521,72,246,1699
7,2012,Mitte,10332,Brunnenstraße Nord,145,71,675,192,191,2928,76,473,218,252,36,7,495,72,162,1532
8,2012,Mitte,10441,Parkviertel,109,48,783,211,318,2879,77,564,365,157,55,20,568,65,244,1794
9,2012,Mitte,10442,Wedding Zentrum,216,104,1210,426,384,3396,57,424,294,298,54,23,806,87,570,2556
10,2012,Mitte,19900,"Bezirk (Mi), nicht zuzuordnen",15,9,435,147,49,2487,6,45,31,0,5,0,263,140,35,587

## Found the official data :)

In [65]:
#!ls ../Data/Raw/WHAT

Berlin_crimes.csv             Bike_crimes
Berlin_crimes_official.xlsx   ~$Berlin_crimes_official.xlsx

In [83]:
crimesdata_of = pd.read_excel('../Data/Raw/WHAT/Berlin_crimes_official.xlsx')
crimesdata_of.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Arson,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,12,3,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,8,4,327,118,83,799
2,2012,Mitte,11003,Alexanderplatz,194,101,1411,446,259,8297,70,650,732,274,47,27,1359,480,356,2799
3,2012,Mitte,11004,Brunnenstraße Süd,50,25,241,62,62,1873,85,176,387,131,14,5,449,153,191,724
4,2012,Mitte,12005,Moabit West,123,45,610,188,190,2396,90,376,321,161,39,22,495,59,245,1357

In [85]:
crimesdata_of.isnull().sum()

Year                0
District           90
Zipcode             0
Location            0
Robbery             0
Street_robbery      0
Body_injuries       0
Agg_assoult         0
Threat              0
Theft               0
Vehicle             0
From_car            0
Bike                0
Housebreaking       0
Fire                0
Arson               0
Damage_property     0
Graffiti            0
Drugs               0
Domestic            0
dtype: int64

In [86]:
crimesdata_of = crimesdata_of.dropna()

In [87]:
crimesdata_of.isnull().sum()

Year               0
District           0
Zipcode            0
Location           0
Robbery            0
Street_robbery     0
Body_injuries      0
Agg_assoult        0
Threat             0
Theft              0
Vehicle            0
From_car           0
Bike               0
Housebreaking      0
Fire               0
Arson              0
Damage_property    0
Graffiti           0
Drugs              0
Domestic           0
dtype: int64

In [88]:
crimesdata_of.shape

(1550, 20)

'Fire' and 'Arson' ar supper similar, will concatenate in just one column named 'Fire'

In [89]:
crimesdata_of['Fire'] = crimesdata_of['Fire'] + crimesdata_of['Arson']

In [91]:
crimesdata_of.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Arson,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,15,3,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,12,4,327,118,83,799
2,2012,Mitte,11003,Alexanderplatz,194,101,1411,446,259,8297,70,650,732,274,74,27,1359,480,356,2799
3,2012,Mitte,11004,Brunnenstraße Süd,50,25,241,62,62,1873,85,176,387,131,19,5,449,153,191,724
4,2012,Mitte,12005,Moabit West,123,45,610,188,190,2396,90,376,321,161,61,22,495,59,245,1357

In [93]:
crimesdata_of = crimesdata_of.drop(columns=['Arson'])
crimesdata_of.head(2)

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,15,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,12,327,118,83,799

In [95]:
crimesdata_of.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1550 entries, 0 to 1639
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1550 non-null   int64
 1   District         1550 non-null   object
 2   Zipcode          1550 non-null   int64
 3   Location         1550 non-null   object
 4   Robbery          1550 non-null   int64
 5   Street_robbery   1550 non-null   object
 6   Body_injuries    1550 non-null   int64
 7   Agg_assoult      1550 non-null   int64
 8   Threat           1550 non-null   int64
 9   Theft            1550 non-null   int64
 10  Vehicle          1550 non-null   int64
 11  From_car         1550 non-null   int64
 12  Bike             1550 non-null   int64
 13  Housebreaking    1550 non-null   int64
 14  Fire             1550 non-null   int64
 15  Damage_property  1550 non-null   int64
 16  Graffiti         1550 non-null   int64
 17  Drugs            1550 non-null   int64
 18  Domestic         1550 non-null   int64
dtypes: int64(16), object(3)
memory usage: 242.2+ KB

In [100]:
crimesdata_of.Street_robbery.dtype

dtype('O')

In [104]:
crimesdata_of.Street_robbery.unique()

array([33, 25, 101, 45, 36, 44, 62, 43, 91, 105, 64, 65, 55, 76, 30, 15,
       89, 5, 4, 2, 0, 1, 8, 10, 9, 13, 14, 26, 11, 6, 12, 7, 22, 34, 71,
       3, 47, 19, 27, 17, 18, 16, 49, 78, 53, 42, 50, 31, 24, 35, 21, 48,
       110, 59, 'Eso', 69, 147, 68, 75, 155, 111, 28, 40, 20, 86, 73, 58,
       54, 23, 46, 104, 32, 52, 81, 57, 77, 136, 103, 80, 41, 29, 39, 90,
       37, 63, 109, 85, 100, 67, 79, 117, 56, 74, 94, 70, 87, 38, 61, 51,
       82, 84, 66, 142, 60, 95, 93, 124], dtype=object)

In [105]:
crimesdata[(crimesdata['District']=='Mitte') & (crimesdata['Year']==2013)]

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
150,2013,Mitte,10111,Tiergarten Süd,88,60,522,148,124,2652,17,392,149,62,14,3,263,28,114,974
151,2013,Mitte,10112,Regierungsviertel,53,25,480,120,128,3862,23,337,254,33,5,1,355,130,67,862
152,2013,Mitte,10113,Alexanderplatz,237,149,1442,354,333,10165,85,760,926,281,47,20,1301,448,590,3029
153,2013,Mitte,10114,Brunnenstraße Süd,41,14,226,51,68,2503,101,244,358,137,8,3,366,134,92,1003
154,2013,Mitte,10221,Moabit West,94,47,597,156,231,2441,76,463,336,139,47,12,532,88,209,1342
155,2013,Mitte,10222,Moabit Ost,76,37,496,122,181,2536,82,446,353,128,35,16,418,59,362,1188
156,2013,Mitte,10331,Osloer Straße,125,64,814,210,253,3540,26,378,279,166,28,8,441,55,366,1674
157,2013,Mitte,10332,Brunnenstraße Nord,126,58,667,164,200,3248,102,521,269,196,36,13,454,84,299,1597
158,2013,Mitte,10441,Parkviertel,87,38,712,206,269,2924,74,566,290,154,32,16,541,81,236,1722
159,2013,Mitte,10442,Wedding Zentrum,160,76,1156,341,382,3307,48,603,319,201,70,25,822,127,526,2388
160,2013,Mitte,19900,"Bezirk (Mi), nicht zuzuordnen",9,5,403,94,64,2136,4,43,14,0,6,4,251,158,3,521

In [106]:
# value is 58

In [110]:
def eso(x):
    if x == 'Eso':
        return 58
    else:
        return x

crimesdata_of.Street_robbery = crimesdata_of.Street_robbery.apply(eso)

In [111]:
crimesdata_of.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1550 entries, 0 to 1639
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1550 non-null   int64
 1   District         1550 non-null   object
 2   Zipcode          1550 non-null   int64
 3   Location         1550 non-null   object
 4   Robbery          1550 non-null   int64
 5   Street_robbery   1550 non-null   int64
 6   Body_injuries    1550 non-null   int64
 7   Agg_assoult      1550 non-null   int64
 8   Threat           1550 non-null   int64
 9   Theft            1550 non-null   int64
 10  Vehicle          1550 non-null   int64
 11  From_car         1550 non-null   int64
 12  Bike             1550 non-null   int64
 13  Housebreaking    1550 non-null   int64
 14  Fire             1550 non-null   int64
 15  Damage_property  1550 non-null   int64
 16  Graffiti         1550 non-null   int64
 17  Drugs            1550 non-null   int64
 18  Domestic         1550 non-null   int64
dtypes: int64(17), object(2)
memory usage: 242.2+ KB

In [112]:
# crimesdata_of.to_excel('crimesdata_of_clean.xlsx', index = False)